.categories_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.category {
  background-color: #ffc900;
  color: #1a1a1a;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  width: fit-content;
  border: 2px solid #1a1a1a;
}

.blockchain {
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  width: fit-content;
  box-shadow: 2px 2px #1a1a1a;
}

.datetime_info {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 15px;
  width: fit-content;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: #B286FD;
  color: #1a1a1a;
  border: 2px solid #1a1a1a;
}

.social_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.anchor_tag {
  text-decoration: none;
}

.anchor_tag:hover {
  text-decoration: none;
}

.social_tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border: 2px solid #1a1a1a;
  color: #1a1a1a !important;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  width: fit-content;
}

.ann_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ann_layout {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  margin-bottom: 16px;
  gap: 16px;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
}

.ann_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.member_tab {
  background-color: #dff362;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
  text-transform: capitalize;
  width: fit-content;
  font-weight: bold;
}

.investor_tab {
  /* background-color: #ffdc02; */
  background-color: #54fa80;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
  text-transform: capitalize;
  width: fit-content;
  font-weight: bold;
}